<h1 style='text-align: center'>管理页面</h1>
<div style='text-align: center'>
	<%= link_to '班级管理', grades_path %><br>
	<%= link_to '学生管理', students_path %><br>
	<%= link_to '老师管理', teachers_path %>
	
</div>
